<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/dashy.css') }}" >
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/plotly.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
        .toggle.ios .toggle-handle { border-radius: 20px; }
    </style>
</head>

<body id="page-top">
    <div id="wrapper" class="navvie">

        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                 <div class="title">
                     <p>P H O T O N</p>
                 </div>
                <img src="static/images/logo.png" height="200px" width="200px"/>
                <hr class="sidebar-divider my-0">
                <p id="man_auto_label">AUTO</p>
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <label class="switch" id="fuckyouall">
                    <input type="checkbox" onclick="hi()" id="man_auto">
                    <span class="slider round"></span>
                </label>
                <p id="relay_switching_label">&nbsp;&nbsp;SOLAR</p>
                <label class="switch" id="oofyouall">
                    <input type="checkbox" onclick="hi2 ()" id="relay">
                    <span class="slider round"></span>
                </label>
                <script>
                    function hi()
                    {
                        console.log(document.getElementById("man_auto").checked);
                        var oof = document.getElementById("man_auto").checked;
                        if (oof)
                        {
                            //manual ON
                            //SOLAR
                            document.getElementById("man_auto_label").innerHTML = "MANUAL";
                            document.getElementById("relay").disabled = false;
                            console.log(document.getElementById("relay").disabled)
                            document.getElementById("relay_switching_label").innerHTML = "&nbsp;&nbsp;SOLAR";
                            var req = new XMLHttpRequest();
                            req.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/update/V8?value=1');
                            req.send();
                            req = new XMLHttpRequest();
                            req.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/update/V10?value=0');

                            req.send();
                        }
                        else
                        {
                            //manual OFF
                            document.getElementById("man_auto_label").innerHTML = "AUTO";
                            console.log(2);
                            document.getElementById("relay").checked = false;
                            document.getElementById("relay").disabled = true;
                            document.getElementById("relay_switching_label").innerHTML = "&nbsp;&nbsp;SOLAR";
                            console.log(document.getElementById("relay").disabled)
                            req2 = new XMLHttpRequest();
                            req2.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/update/V8?value=0');

                            req2.send()
                            var req3 = new XMLHttpRequest();
                            req3.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/update/V10?value=0');

                            req3.send()
                        }

                    }
                    function hi2()
                    {
                        console.log(document.getElementById("relay").checked);
                        var oof = document.getElementById("relay").checked;
                        if (oof)
                        {
                            //BATTERY
                            document.getElementById("relay_switching_label").innerHTML = "BATTERY";
                            var req1 = new XMLHttpRequest();
                            req1.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/update/V10?value=1');

                            req1.send()

                        }
                        else
                        {
                            //SOLAR
                            document.getElementById("relay_switching_label").innerHTML = "&nbsp;&nbsp;SOLAR";
                            req = new XMLHttpRequest();
                            req.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/update/V10?value=0');

                            req.send()

                        }
                    }
                </script>

                <a class="nav-link active" href="/logout" style="margin-top: 100px;"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid" style="margin-top: 100px;">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-xl-2 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Solar Power Gen.</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span id="solarGen">V</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-solar-panel fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 offset-xl-1 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Battery %</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span id="batteryPer">%</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-battery-full fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-xl-10 offset-xl-1">
                            <div class="card-header">
                                <h6 class="text-primary font-weight-bold m-1">Solar output</h6>
                            </div>
                        </div>
                                <div class="wrapper col-lg-8 col-xl-10 offset-xl-1">
                                    <div class="realtime-graph" id="chart"></div>
                                    <script>
                                        let number = 0;
                                        const solarGen = document.getElementById('solarGen')
                                        var request1 = new XMLHttpRequest();
                                        setInterval(function()
                                        {
                                            request1.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/get/V7');

                                            request1.onreadystatechange = function ()
                                            {
                                                if (this.readyState === 4)
                                                {
                                                    solarGen.innerHTML = parseFloat(Number(JSON.parse(this.responseText)).toFixed(3)) + ' V'
                                                    number = parseFloat(Number(JSON.parse(this.responseText)).toFixed(3));
                                                }
                                            };

                                            request1.send();
                                        }, 200);

                                        function getData()
                                        {
                                            return number;
                                        }
                                        var layout = {
                                            xaxis:
                                            {
                                                //showgrid: false
                                                //color: white;
                                            }



                                        }
                                        Plotly.plot('chart',
                                        [
                                            {
                                                y:[getData()],
                                                type:'line'
                                            }
                                        ],  layout,  {showSendToCloud: true});


                                        var cnt = 0;
                                        setInterval(function()
                                        {


                                            Plotly.extendTraces('chart',{ y:[[getData()]]}, [0]);
                                            cnt++;
                                            if(cnt > 00)
                                            {
                                                Plotly.relayout('chart',
                                                {
                                                    xaxis:
                                                    {
                                                        range: [cnt - 500,cnt],
                                                        showgrid:false,
                                                        title: {
                                                        text: 'x Axis',
                                                        font:
                                                        {
                                                            family: 'Courier New, monospace',
                                                            size: 18,
                                                            color: '#FFFFFF'
                                                        }

    },
                                                    },
                                                    yaxis:
                                                    {

                                                        showgrid: false

                                                    }



                                                });

                                            }
                                        },15);


                                    </script>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            <script>
                var request3 = new XMLHttpRequest();
                var state;
                setInterval(function()
                 {

                      request3.open('GET', 'http://blynk-cloud.com/PibLh_9lhMCt_5fmc17ftsDfMWkqdx0S/get/V12');
                      request3.onreadystatechange = function ()
                      {
                           if (this.readyState === 4)
                           {

                                state = JSON.parse(this.responseText)[0];

                           }
                      };
                      request3.send();
                      console.log(state)
                      if (document.getElementById("man_auto_label").innerHTML == "AUTO")
                      {

                          if (state == 'Solar')
                          {
                              console.log("wubba ");
                              document.getElementById("relay_switching_label").innerHTML = "&nbsp;&nbsp;SOLAR";
                              document.getElementById("relay").checked = false;
                          }
                          else if (state == ["Battery"])
                          {
                              document.getElementById("relay_switching_label").innerHTML = "BATTERY";
                              document.getElementById("relay").checked = true;
                          }
                      }
                 }, 500);


           </script>
           <footer class="bg-white sticky-footer">
                <br/><br/><br/><br/>
                <div class="container my-auto">
                    <div class="text-center my-auto copyright" style="margin-left: 160px;"><span>Copyright © Aurora 2019</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-chart.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>chart

    <script>
      const batteryPer = document.getElementById('batteryPer')
      var request2 = new XMLHttpRequest();
      setInterval(function() {
        request2.open('GET', 'http://blynk-cloud.com/T4NLSmeCDRiIwT_wtfoxK6qiGlhempq5/get/V9');

        request2.onreadystatechange = function () {
          if (this.readyState === 4) {
            batteryPer.innerHTML = JSON.parse(this.responseText) + ' %'
          }
        };
        request2.send();
      }, 200);
    </script>
</body>

</html>
