<!DOCTYPE html>
<html>
    <head>
        <title>Photon</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" >
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="modal-dialog text-center">
            <div class="col-sm-12 main-section">
                <div class="modal-content">t
                    <div class="title">
                        <p>P H O T O N</p>
                    </div>
                    <!--<div class="col-12 user-img">
                        <img src="static/images/imreadytoendmyself.png" height="200" width="200"/>
                    </div>-->
                    <form class="col-12" method="post">
                        <div class="form-group-user">
                             <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="form-group-pass">
                             <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <button type="submit" class="btn btn-danger"><i class="fas fa-sign-in-alt"></i>&nbsp; Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>